<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-4"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>

  <div id="pnatlla" class="col-md-8">
  <div class="col-md-2"></div>
   <img src="IncubadoralogO.png" class="col-md-8">
     <div class="col-md-2"></div>
     <div id="sd">a</div>

   <button id="ld" class="">Continuar</button>
        <div id="sd">a</div>

<h1  class="col-md-8">Cita del Dia</h1>
     <div id="sd">a</div>

<h2  class="col-md-8">Nunca pierdas el hambre por conocimiento y nuevas experiencias</h2>
<br>
     <div ></div>
     <div id="cita">a</div>

<h2 class="col-md-4">.-Carolyn Robb</h2>
 <br>
 <br>
 
 </div>

</div>


<style type="text/css">
	
	body {
    background-image: url("FondoPagina.jpg");
}
#pnatlla{
background-color: white;

}
#sd{
	    float: left;
	    width: 21%;
	    visibility: hidden;

}
#ld
{
	    float: left;
	    width: 59%;
}
#cita
{
	    float: left;
	    width: 63%;
	   visibility: hidden;

}


</style>
<img src="">
</body>
</html>